root = true

[*]
charset = utf-8

end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

indent_style = space
indent_size = 2
tab_width = 2

[*.{sh,zsh}]
binary_next_line = true
switch_case_indent = true
space_redirects = true
keep_padding = false
function_next_line = false
never_split = true

[third_party/**]
ignore = true
